* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: rgba(244,236,225,1);
    --orange:#FF7E00;
    --black: #2F2F2F;
    --gray: #909090;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: rgb(235, 228, 137);
}

#app {
    max-width: 151.1rem;
    height: 86.6rem;
    margin: auto;
    background-color:var(--background-color);
    padding: 4.8rem 8.7rem;

    display: grid;
    grid-template-areas: "header header" "main section";
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-area: header;

    margin-bottom: 4.1rem;
}

main {
    grid-area: main;
}

section {
    grid-area: section;
}

header #logo {
    display: flex;
    gap:2px;

    margin-right: 18rem;
}

#logo h1 {
    margin-top: 5%;
    font-size: 3.5rem;
}

header nav {
    display: flex;
    gap: 5.6rem;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 2.3rem;
    color: var(--black);
    transition: all .1s ease-in;
}
nav a:hover {
    color: var(--orange);
}

#search {
    position: relative;
}

#search i {
    position: absolute;
    top: 2rem;
    font-size:18px;
}
#search i.ph-magnifying-glass {
    left: 3rem;
}

#search i.ph-shopping-cart {
    border-left: 1px solid gray;
    padding-left: 2rem;
    right: 4rem;
}

#search input {
    background-color: transparent;
    box-shadow: 1px 2px 1px 1px rgb(199, 199, 199);
    width: 31.4rem;
    height: 6rem;
    font-weight: regular;
    font-size: 2rem;
    padding-left: 6rem;
    border-radius: 3rem;
    border:none;
}


#container {
    margin-top: 6.6rem;
    width: 59rem;
    height: 37rem;
    position: relative;
}

#container #title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#container #title h1 {
    color: var(--orange);
    font-size: 12rem;
    font-weight: bold;
}

#container #title h2 {
    color: var(--black);
    font-size: 5.5rem;
    line-height: 0.9;
}

#arrow {
    position: absolute;
    top: -10rem;
    right: 0;
}

#container p {
    color: var(--gray);
    font-size: 2.2rem;
    text-align: left;
}


section img {
    width: 70rem;
}